$color-theme-r = #ff8beb
$color-theme-b = #8bcaff
$color-theme-g = #4becd7
$color-text = #fff
$color-text-dark = #333
$color-background = #f7f7f7
// card-information
$card-height = 60px
$card-radius = 6px
// 定义字体规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
